.container {
  overflow: auto;
  height: 80vh;
  width: 50%;
  border: 1px solid gainsboro;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px gainsboro
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  border-bottom: 1px solid gainsboro;
  display: flex
}

.search-input {
  padding: 1rem 1rem 0.5rem 1rem;
  width: auto;
  border: none;
  border-bottom: 1px solid gainsboro;
  font-size: medium;
  font-family: 'Raleway', sans-serif;
  margin: 0 1rem;
}

.search-input-container{
  position: sticky;
  top: 0;
  background: white;
}

input {
  font-size: medium;
  font-family: 'Raleway', sans-serif;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-input:focus-within {
  border-bottom: 1px solid black
}

.avatar-container{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

img {
  height: 120px;
  width: 120px;
  border: 1px solid gainsboro;
  border-radius: 120px;
}

.name{
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}

.details {
  width: 100%
}

.name-expand {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.expand {
  background: none;
  border: none;
  font-size: xx-large;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.detail {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  padding: 2px;
  padding-left: 1.5rem;
}

.grade {
  padding-left: 0 0 0 1.5rem;
}

.grades-container {
  padding-bottom: 1rem
}

.avg-grades {
  padding-bottom: 1rem
}

.tag-input {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  width: auto;
}

.tag-input:focus-within {
  border-bottom: 1px solid black
}

.tag {
  background: gainsboro;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Raleway';
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.tag-container{
  padding-left: 1.5rem
}